* {
  font-family: 'Merriweather', serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 8px;

}

.App h1 {
  text-align: center;

}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.form input[type="text"] {
  padding: 10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 6px;
}

.form button[type="submit"] {
  background-color: #008080;
  color: #ffff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.todo-listItems {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-content {
  width: 60%;
}

.todo-item button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}

.todo-item button:focus {
  outline: none;
}

.update-item {
  background-color: goldenrod;
  color: #fff;
}

.delete-item {
  background-color: red;
  color: #fff;
}

.update-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.update-new-input {
  width: 80%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px;
  outline: none;
}

.update-new-btn {
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}

.routes {
  text-decoration: 'none';
}

.routebox-container {
  display: flex;
  justify-content: space-between;
  background-color: #D3D3D3;
}




html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  ;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.login-form,
#reg-form {
  width: 350px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 2rem;
  background: #ffffff;
}

.form-input {
  background: #fafafa;
  border: 1px solid #eeeeee;
  padding: 12px;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;

}

.form-button {
  background: #69d2e7;
  border: 1px solid #ddd;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}

.form-button:hover {
  background: #69c8e7;
}

.form-header {
  text-align: center;
  margin-bottom: 2rem;
}

.form-footer {
  text-align: center;
}

.change-password-form {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-not-logged-in {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.logout-bttn {
  margin-top: 10%;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 20%;
  outline: none;
  padding: 4% 8%;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.logout-bttn:focus-visible{
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.logout-bttn:active{
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.logout-bttn:disabled{
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}



input[type = text], input[type = password]{
  background-color: #FFFFFF;
  border: 1px solid #222222;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 20%;
  outline: none;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

input[type = text]:focus-visible, input[type = text]:focus-visible{
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

input[type = text]:active, input[type = text]:active{
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

input[type = text]:disabled, input[type = text]:disabled{
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}
#change-password-submit-bttn, #change-password-text-field{
margin-top: 5%;
}